RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

RewriteRule .* - [E=noabort:1]
RewriteRule .* - [E=noconntimeout:1]

Options -Indexes

RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://crm.ilekasoft.com/$1 [R,L]
