<?xml version="1.0" encoding="utf-8"?>
<!-- the root web configuration file -->
<configuration>
  <system.web>
    <compilation tempDirectory="E:\Inetpub\vhosts\ilekasoft.com\tmp" />
  </system.web>
  
  <system.webServer>
    <!-- Upload Limitleri (Büyük CSV dosyaları için) -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="134217728" /> <!-- 128 MB -->
      </requestFiltering>
    </security>
    
    <!-- FastCGI ve PHP Session Ayarları -->
    <fastCgi>
      <application fullPath="C:\Program Files (x86)\PHP\v5.6\php-cgi.exe">
        <environmentVariables>
          <environmentVariable name="PHP_FCGI_MAX_REQUESTS" value="10000" />
          <environmentVariable name="PHPRC" value="C:\Program Files (x86)\PHP\v5.6" />
        </environmentVariables>
      </application>
    </fastCgi>
    
    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
        <add value="default.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
      </files>
    </defaultDocument>
    
    <rewrite>
      <rules>
        <!-- HTTPS yönlendirmesi -->
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{HTTP_HOST}" pattern="localhost" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:0}" redirectType="Permanent" />
        </rule>
        
        <!-- Assets klasörü için istisna (CSS, JS, IMG dosyaları) -->
        <rule name="Assets" stopProcessing="true">
          <match url="^assets/" />
          <action type="None" />
        </rule>
        
        <!-- Mevcut dosyalar için istisna -->
        <rule name="ExistingFiles" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>
        
        <!-- Mevcut klasörler için istisna -->
        <rule name="ExistingDirectories" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
          </conditions>
          <action type="None" />
        </rule>
        
        <!-- CodeIgniter URL Rewriting -->
        <rule name="CodeIgniter" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Directory browsing'i kapat -->
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>